.docker/config/phpmyadmin-conf.d
!.docker/config/phpmyadmin-conf.d/config.user.inc-example.php
.docker/db/**
!.docker/db/init-scripts/permissions.sql
.dockerignore
.DS_Store
docs/**
.env
example.env
.git/**
.gitignore
logs/**
LICENSE
node_modules/**
.docker/security/**
ShapeCreations.code-workspace