## Files to Ignore ##
app/public_html/assets/images/**
.docker/config/phpmyadmin-conf.d/**
.docker/db/**
.DS_Store
.env
logs/**
.git/**
node_modules/**
ShapeCreations.code-workspace
.docker/security/**
.vscode/**

## Exceptions ##
!.docker/config/phpmyadmin-conf.d/config.user.inc-example.php
!.vscode/launch.json

## Keep Empty Directory ##
!app/public_html/assets/.gitkeep
!app/public_html/assets/images/.gitkeep
!app/public_html/assets/images/creations/.gitkeep
!app/public_html/assets/images/profiles/.gitkeep
!app/public_html/assets/images/site/.gitkeep
!.docker/db/.gitkeep
!.docker/db/init-scripts/.gitkeep
!.docker/db/mysql-data/.gitkeep
!logs/.gitkeep
!logs/apache/.gitkeep
!logs/mariadb/.gitkeep
!logs/php/.gitkeep
!.docker/security/certs/.gitkeep
!.docker/security/credentials/.gitkeep
!.docker/security/keys/.gitkeep

