## Files to Ignore ##
app/public_html/assets/images/**
.config/phpmyadmin-conf.d/**
db/**
.DS_Store
.env
logs/**
.git/**
node_modules/**
ShapeCreations.code-workspace
.security/**
.vscode/**

## Exceptions ##
!.config/phpmyadmin-conf.d/config.user.inc-example.php
!.vscode/launch.json

## Keep Empty Directory ##
!app/public_html/assets/images/creations/.gitkeep
!app/public_html/assets/images/profiles/.gitkeep
!app/public_html/assets/images/site/.gitkeep
!db/init-scripts/.gitkeep
!db/mysql-data/.gitkeep
!logs/apache/.gitkeep
!logs/mariadb/.gitkeep
!logs/php/.gitkeep
!.security/certs/.gitkeep
!.security/credentials/.gitkeep
!.security/keys/.gitkeep
!.docs/images/.gitkeep
